/* .App {
  max-height: 100vh;
}

.container {
  text-align: center;
  display: flex;
  min-height: 100vh;
  font-family: sans-serif, Arial, Helvetica, "Open Sans";
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

.header {
  background: white;
  width: 100%;
  height: 3rem;
  box-shadow: 0 0 2rem #4e4e4e;
}

footer {
  background: #00595c;
  color: white;
  display: flex;
  flex-direction: row;
}

img {
  width: 100px;
  padding: 20px 100px;
}
p {
  font-size: 15px;
  padding: 15px 35px;
  float: right;
}

.auth-form-container,
.register-form,
.login-form {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: white;
}

.auth-form-container {
  box-shadow: 0 0 1rem #e6e6e6;
  width: 500px;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  color: #00595c;
}

label {
  text-align: left;
  padding: 0.25rem 0;
  font-size: 0.8rem;
  font-weight: 600;
  color: #797979;
}

input {
  margin: 0 0 1rem 0;
  padding: 0.3rem;
  border: 0.5px solid #00595c;
  border-radius: 0.2rem;
  min-width: 20rem;
}

.read-the-docs {
  color: #888;
}

.link-btn {
  background: none;
  color: #00595c;
  border: none;
  margin: 0 0.5rem;
}
